beautifulsoup4==4.9.3
colorama==0.4.4
requests==2.26.0
lxml>=4.9.1
urllib3>=1.26.12
python-owasp-zap-v2.4>=0.0.20
selenium>=4.7.2
aiohttp>=3.8.3
pyjwt>=2.6.0
cryptography>=38.0.4
html5lib
flask-socketio
